.contenedor {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 60vh;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border: 2px solid #3e8be2;
   
}
.title{
  width: 100%;
}
.imagen-container {
    margin: 20px;
    padding-bottom: 40PX;
    display: flex;
    justify-content: space-between; /* Alinea las imágenes en los extremos */
    align-items: center; /* Alinea verticalmente las imágenes al centro */
  }
  
  .icR{
    cursor: pointer;
    max-width: 30%; /* Establece el ancho máximo de cada imagen */
    height: auto; /* Mantiene la proporción de aspecto */
    /* Agrega otros estilos que desees aplicar a las imágenes */
  }
  
